* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat',sans-serif;
}
h2 {
  padding: .5rem;
  color: whitesmoke;
}
h3 {
  padding: .5rem;
  color: whitesmoke;
}
h5 {
  padding: .3rem;
}
img {
  max-width: 100%;
  background-position: center;
  background-size: cover;
}
input {
  border: 2px gray;
  margin: 5px;
  border-radius: 10px;

}
.App {
  text-align: center;
}
.App-header {
  background-color: #282c34;
  min-height: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}
.col-4 { width: 33.33%; }
.col-7 { width: 58.33%; }
.container {
  width: 90%;
  margin: auto;
}
section {
  padding: 48px 0;
}
.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.location {
  background: #1faaf5;
  padding: 1rem;
  height: 50%;
  width: 50%;
  margin-top: 15px;
  border-radius: 10px;
}
.btn {
  border: solid 2px #54ca95;
  padding: 4px 10px;
  border-radius: 15px;
  transition: 0.4s;
  
}
.btn:hover {
  background-color: #54ca95;
  color: white;
}
.card {
  background: #069a6d;
  padding: 1rem;
  height: 100%;
  transform: scale(1);
  transition: all 1s;
  border: .5px gray;
  margin: 20px;
  border-radius: 10px;
  box-shadow: 5px 8px #1ff5b4;
}
.card:hover {
  transform: scale(1.1);
  transition: all 1s;
}
[class*="col-"] {
  padding: 16px;
}

@media(max-width: 576px) {
  .col-4 {
      width: 100%;
  }
  .col-7 {
    width: 100%;
}
}
@media(min-width: 577px ) and (max-width: 768px ) {
  .col-4 {
      width: 50%;
  }
  .col-7 {
    width: 100%;
}
}